body {
	margin: 0px;
	padding: 0px;
	font-family: Sahitya;
	background-color: #fff3eb;
}

h1 {
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #FFEADC;
	color: #FF7979;
	font-weight: bold;
	float: left;
	width: 100%;
	min-height: 150px;
	position: relative;
}

.logo {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.social {
	float: right;
	background-color: #FF7979;
	max-width: 50px;
}

.acc {
	display: none;
	float: right;
	width: 200px;
	height: 150px;
}

nav {
	position: absolute;
	bottom: 5px;
	padding: 0px;
	margin: 0px;
	left: 270px;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	margin-right: 15px;
}

a {	
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #bf5b5b;
}

.banner {
	width: 50%;
	max-width: 690px;
	height: 300px;
	float: left;
	border-radius: 5px;
}

.feature {
	width: 50%;
	max-width: 400px;
	height: 250px;
	float: right;
	overflow: hidden;
	background-color: #FFEADC;
	color: #FF7979;
	padding: 25px 40px 25px 40px;
	border-radius: 5px;
}

.reviews {
	width: 50%;
	max-width: 400px;
	float: right;
	overflow: hidden;
	background-color: #FFEADC;
	color: #FF7979;
	padding: 25px 40px 25px 40px;
	border-radius: 5px;
}

.item {
	min-width: 300px;
	width: 33%;
	height: 400px;
	float: left;
	border: 1px solid grey;
}

#container {
	width: 90%;
	margin: auto;
}

.head {
	margin-left: 250px;
	margin-top: 10px;
	font-size: 60px;
}

@media screen and (max-width:1418px) {
	#etsy {
		display: none;
	}
	#etsymed {
		display: inline-block!important;
	}
	#etsysml {
		display: none;
	}
}

@media screen and (max-width:1202px) {
	#etsy {
		display: none;
	}
	#etsymed {
		display: none!important;
	}
	#etsysml {
		display: inline-block!important;
	}
}

@media screen and (max-width:1087px) {
	.head {
		display: none;
	}
	nav {
		position: static;
		width: 100px;
		float: right;
	}
	nav ul li {
		margin-top: 8px;
		margin-bottom: 15px;
		font-size: 20px;
	}
	.banner {
		width: 100%;
		max-width: 100%;
	}
	.feature {
		width: 90%;
		max-width: 90%;
		height: auto;
		float: left;
		margin: 0px;
		padding: 5%;
	}
	
	.reviews {
		width: 90%;
		max-width: 90%;
		float: left;
		margin: 0px;
		padding: 5%;
	}
	#etsy {
		display: none!important;
	}
	#etsymob {
		display: inline-block!important;
	}
	#etsymed {
		display: none!important;
	}
	#etsysml {
		display: none!important;
	}
}

@media screen and (max-width:450px) {
	#etsy {
		display: none!important;
	}
	#etsymob {
		display: none!important;
	}
	#etsymed {
		display: none!important;
	}
	#etsysml {
		display: none!important;
	}
	#etsyxsml {
		display: inline-block!important;
	}
}