body {
	margin: 0px;
	padding: 0px;
}

.head-bg {
	background-color: #FFEADC;
	color: white;
	font-weight: bold;
	float: left;
	width: 100%;
	min-height: 150px;
}

.logo {
	float: left;
	width: 12%;
}

.social {
	border: 1px solid red;
	float: left;
	margin-top: 10px;
}

.acc {
	float: right;
	border: 1px solid blue;
	width: 200px;
	height: 150px;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li:hover {
	color: #FF7979;
}

.banner {
	width: 700px;
	height: 300px;
	border: 1px solid blue;
	float: left;
}

.feature {
	width: 350px;
	height: 300px;
	border: 1px solid red;
	float: right;
}

.item {
	width: 33%;
	height: 400px;
	float: left;
	border: 1px solid grey;
}

#container {
	width: 90%;
	margin: auto;
}